
html {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

nav {
  height: 72px;
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 0;
  box-sizing: border-box;
  z-index: 100;
}

.main-nav {
  background: #f4f4f4;
  width: 100%;
  margin-top: -8px;
}

nav a {
  padding: 0 32px;
  color: #a0a0a0;
  transition: 0.4s;
}

nav a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
}

.active {
  color: #000000;
}

#menu-icon {
  height: 100%;
  font-size: 28px;
  padding: 0 4px;
  color: rgb(184, 184, 184);
  display: none;
  align-items: center;
}

/* Slideout Menu */

#slideout-menu {
  display: none;
  background: #2d3436;
  z-index: 100;
  position: fixed;
  transition: 0.4s;
  margin-top: 72px;
  width: 100%;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

#slideout-menu ul {
  list-style: none;
  padding: 0 32px;
}

#slideout-menu ul li {
  padding: 8px;
}

#slideout-menu a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: white;
}

#slideout-menu input {
  width: 85%;
  padding: 8px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
}

/* footer */

.footer-content-wrapper {
  width: 100%;
  margin: auto;
  transform: translateX(12%);
}

.footer-col {
  display: inline-block;
  padding: 0.5em 1em 0.5em 1em;
  box-sizing: border-box;
  border-right: solid 1px rgb(75, 75, 75);
}

.footer-col:nth-child(3) {
  border: none;
}

.flt:nth-child(3):after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 1em;
  clear: both;
}

.ta-l {
  text-align: left;
}

.flt {
  float: left;
}


.large-25 {
  width: 25%;
  text-align: center;
}

.footer-col a {
  display: block;
  margin: 0.3em;
}

.footer-col a:hover {
  color: #a0a0a0;
}

.footer-col p {
  display: block;
  margin: 0.3em;
  color: #000000;
  font-size: 15px;
}

footer {
  background-color: #c0c0c0;
  width: 100%;
  height: 170px;
  padding-top: 20px;
  color: white;
  margin: 0;
}

/* Intro */

.container {
  margin: auto;
  max-width: 50%;
}

.intro {
  padding: 105px 0px 70px 0px;
  overflow-x: hidden
}

.intro img {
  width: 81px;
  height: 81px;
  border-radius: 99px;
  float: left;
}

.intro .wrap {
  margin: 30px 0px;
}


.intro p {
  color: #4e4e4e;
}

.intro h1 span {
  font-size: 47px;
}

.unit-80 h1 {
  left: 40px;
}

.section.second {
  margin-bottom: 10px
}

.section .container {
  position: relative
}

.section .container:after {
  content: url(./Assets/separator.png);
  left: 20px;
}

.section .container h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative
}


.units-split .unit-80 {
  margin-left: 0;

}

.intro h1:before {
  /* Edit this with your name or anything else */
  content: 'LISA';
  font-family: "Playfair Display SC", serif;
}

.intro h1:before {
  position: absolute;
  left: -120px;
  top: -135px;
  font-size: 270px;
  z-index: -1;
  color: #f4f4f4
}

.work .work-list {
  margin-left: 0px
}

.work .work-list li {
  list-style: none;
  font-size: 0.9375em;
  color: #8c8c8c
}

.work .work-list li a {
  padding-bottom: 5px;
  font-size: 1.1875em;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #b3b3b3
}

.work .work-list li a:hover {
  border-bottom: 1px solid #333
}

ul {
  margin-bottom: 1.65em;
  margin-left: 0px;
  padding: 0;
  line-height: 1.65em;
}

/* skills */
.skill-section {
  position: relative;
  margin: 100px 0;
}

.heading {
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 100px;
}
circle {
position: absolute;
}

.dashboard {
  display: flex;
  place-items: center;
  width: 27%;
  float: left;
}

svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #d6d6d6;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

}

.percent {
  float: left;
  padding-right: 8%;
  padding-left: 4%;

}

.per {
  width: 120%;
  height: 100px;
  display: block;
}

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  stroke: #1a1a1a;
  animation: progress-1 1s ease-out;
}

.meter-2 {
  stroke: #1a1a1a;
  stroke-dasharray: 360;
  stroke-dashoffset: 80;
  animation: progress-2 .75s ease-out;
}

.meter-3 {
  stroke: #1a1a1a;
  stroke-dasharray: 360;
  stroke-dashoffset: 120;
  animation: progress-3 .5s ease-out;
}

.meter-4 {
  stroke: #1a1a1a;
  stroke-dasharray: 360;
  stroke-dashoffset: 120;
  animation: progress-3 .5s ease-out;
}

.meter-5 {
  stroke: #1a1a1a;
  stroke-dasharray: 360;
  stroke-dashoffset: 150;
  animation: progress-3 .5s ease-out;
}

.drawtext {
  padding-top: 300px;
}

.introDrawings {
  float: left;
  width: 350px;
}

.drawings {
  width: 100%;
  height: 500px;
  background-color: #000000;
  padding-top: 100px;
}

.drawings h2 {
  color: #fff;
  padding: 50px 0 0 100px;
  font-size: 50px;
  font-weight: 100;
}

.drawings h1 {
  color: #fff;
  padding: 0 0 0 100px;
  font-size: 50px;
}

.d1 {
  width: 30%;
  float: right;
  padding-right: 40%;
}
video{
  width: 100%;
}
.d2{
  width: 100%;
}
.graf{
  width: 48%;
  padding: 5px;
}
.grafitti{
  width: 98%;
  padding: 5px;
}
/* .ggg img:hover{
  transform: scale(1.2);
} */
/* .grey:hover img:not(:hover) {
  opacity: 0.5;
  } */

/* bilderslider */
/*Bilderslider  https://frontendscript.com/html-slideshow-code-without-javascript/ */
* {
  padding: 0;
  list-style-type: none;
}

.thumb {
  height: 140px;
  width: 210px;
  top: 136px;
  left: 12px;
  position: relative;
  background-size: contain;
  box-shadow: -12px 0 0 12px #000;
}

.thumb:last-of-type {
  box-shadow: 0 0 0 12px #000;
}

.thumb:after {
  content: attr(title);
  font: normal normal 20pt 'impact';
  position: relative;
}

.thumb:hover {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: grayscale(80%);
  filter: url(grayscale.svg#greyscale);
  filter: gray;
}

a.prev, a.next {
  height: 91px;
  position: absolute;
  width: 43px;
  top: 50%;
  margin-top: -30px;
  opacity: 0.6;
  text-indent: -99999px;
  cursor: pointer;
}

a.prev:hover, a.next:hover {
  opacity: 1;
}

.prev {
  left: 0;
  background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}

.next {
  right: 0;
  background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}

.slider {
  height: 95vh;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
}

.slider .slide:target {
  z-index: 10;
}

.slider img, .slider video {
  max-width: 100%;
  width: 100%;
  left: 20px;
}
iframe{
  width: 100%;
  height: 400px;
}


@keyframes progress-1 {
  from {
    stroke-dashoffset: 360;
  }

  to {
    stroke-dashoffset: 100;
  }
}

@keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }

  to {
    stroke-dashoffset: 160;
  }
}

@keyframes progress-3 {
  from {
    stroke-dashoffset: 360;
  }

  to {
    stroke-dashoffset: 250;
  }
}
/* @media (min-width: 700px) {
  .introDrawings{
    padding-bottom: 400px;
  }
} */
@media (max-width: 700px) {
  nav{
    font-size: 10px;
    padding: 0 9px 0 0;
  }
  .introDrawings{
    padding-bottom: 400px;
  }
}
@media (max-width: 500px) {
  nav{
    padding: 0 -10px 0 0;
  }
}
@media (max-width: 400px) {

  main {
    width: 100%;
  }

  html {
    font-size: 85%;
  }

  body {
    overflow-x: hidden;
  }

  nav ul {
    display: none;
  }

  

  #menu-icon {
    display: flex;
  }

  .container {
    max-width: 80%;
  }

  h1 {
    font-size: 18px;
  }

  .intro h1 span {
    font-size: 22px;
  }

  #slideout-menu {
    display: block;
  }

  .dashboard {
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
  }

  .percent {
    float: left;
    padding-right: 5%;
    padding-left: 4%;
    margin-top: -100px;
  }

  .intro h1:before {
    font-size: 150px;
    padding-left: 40px;
    padding-top: 50px;
  }

  .small-50 {
    width: 25%;
  }

  footer {
    background-color: #c0c0c0;
    width: 100%;
    height: 80px;
    padding-bottom: 10px;
    color: white;
    margin: 0;
  }

  .f {
    height: 140px;
  }

  .footer-col p {
    display: block;
    margin: 0.3em;
    color: #000000;
    font-size: 5px;
  }

  .drawings h2 {
    padding: 30px 0 0 50px;
    font-size: 30px;
  }

  .drawings h1 {
    padding: 0 0 0 50px;
    font-size: 30px;
  }

  .drawings {
    width: 100%;
    height: 200px;
    padding-top: 30px;
  }

  .d1 {
    width: 50%;
    float: right;
    padding-right: 40%;
  }

  .drawtext {
    padding-top: 150px;
  }

  .introDrawings {
    float: left;
    width: 300px;
  }

  .section.second {
    margin-bottom: 45px
  }

  .slider {
    height: 50vh;
  }
  .graf{
    width: 100%;
  }
  a.prev, a.next {
    height: 40px;
    width: 23px;
  }
  .prev {
    left: 0;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -207px 2px;
  }
  
  .next {
    right: 0;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -179px 2px;
  }
  footer h3{
    font-size: 10px;
  }
  .certif{
    padding-top: 8px;
    font-size: 5px;
  }
  iframe{
    width: 100%;
    height: 150px;
  }
 
}